.encabezado {
    font-size: 50px;
    font-style: oblique;
    text-decoration: double;
    background-color: rgb(234, 183, 244);
    padding: 15px;
    width: 100%;
    
}
.btn {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(169,245,184,0.7458333675266982) 100%);
    
}

.bg{
  background: linear-gradient(to right, rgb(255, 110, 127), rgb(191, 233, 255));
  z-index: 2;
  background-size: cover;
  transition: all 0.5s ease;
}

.t-stroke {
  color: transparent;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-color: #000000;
  -webkit-text-stroke-color: #ffffff;
}


.t-shadow-halftone {
  position: relative;
}

.t-shadow-halftone::after {
  content: "CONTADOR VUE";
  font-size: 10rem;
  letter-spacing: 0px;
  background-size: 150%;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  /* -webkit-background-clip: text;
  -moz-background-clip: text; */
  -moz-text-stroke-width: 0;
  -webkit-text-stroke-width: 0;
  position: absolute;
  text-align: center;
  left: 8px;
  right: 0;
  top: 6px;
  z-index: -1;
  transition: all 0.5s ease;
}